.home-container{
   
    display: flex;
      justify-content: center;   
    align-items: center;
}
 .home-container img {
    margin-left: 20px;
    margin-top: 80px;
}
.article {
/* margin-right: 40px; */
margin-left: 50px;
} 
.article p {
    font-size: larger;
}
.customer-corner{
    text-align: center;
    margin-top: 40px;
}
.btn{
    text-align: center;
    padding: 20px;
    text-decoration: none;
    
}